.navbar {
  position: fixed; /* Cambia de 'absolute' a 'fixed' para conservar el efecto sticky */
  top: 0;
  left: 0;
  right: 0;
  background-color: none; /* Ajusta la opacidad y el color de fondo según tus necesidades */
  z-index: 1000; /* Asegura que la barra de navegación esté por encima de otros elementos */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
